.widget {
  color: #bfbfbf;
  background: transparent;
}
.widget a {
  color: #404040;
  text-decoration: none;
}
.widget a:hover {
  color: #0085a1;
  text-decoration: none;
}
.widget ul ul,
.widget ol ul,
.widget ul ol,
.widget ol ol {
  margin-left: 0 10px;
ul
  list-style: disc;
}
.widget ul ul ol,
.widget ol ul ol,
.widget ul ol ol,
.widget ol ol ol {
  list-style: decimal;
}
.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 5px;
  color: color-grey;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
#avatar_pic {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  webkit-transition: 1.4s all;
  moz-transition: 1.4s all;
  ms-transition: 1.4s all;
  transition: 1.4s all;
}
/* 头像旋转事件 start */
#avatar_pic:hover {
  background-color: #55dae1;
  webkit-transform: rotate(360deg) scale(1.1);
  moz-transform: rotate(360deg) scale(1.1);
  ms-transform: rotate(360deg) scale(1.1);
  transform: rotate(360deg) scale(1.1);
}
/* end */
